<% @title = "" %>
<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="container">
    </div>
</div>
<div class="container-fuild news">
    <div class="box_title">
        <h3 id="news">
            お知らせ
            <span>NEWS</span>
        </h3></div>
    <div class="box_srcollbar">
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
    </div>
</div>
<div class="container-fuild">
    <div class="container-fuild topNav  ">
        <div class="row catalogue">
            <div class="col-sm-12 col-lg-4 containt-items">
                <div class="home-items">
                    <%= image_tag 'about.jpg', width: "100%"%>
                    <h3>チーム概要<span>ABOUT</span></h3>
                    <p>aaaaaaaaa</p>
                    <%= link_to "", introduction_path %>  
                </div>
                
            </div>
            <div class="col-sm-12 col-lg-4 containt-items">
                <div class="home-items">
                    <%= image_tag 'result.jpg', width: "100%"%>
                    <h3>試合結果<span>RESULT</span></h3>
                    <p>bbbbbbbbb</p>
                    <%= link_to "", result_path %>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 containt-items">
                <div class="home-items">
                    <%= image_tag 'schedule.jpg', width: "100%"%>
                    <h3>スケジュール<span>SCHEDULE</span></h3>
                    <p>ccccccccc</p>
                    <%= link_to "", schedule_path %>
                </div>
            </div>        
        </div>
    </div>
</div>
<div class="container font insta-font">
    <h2>公式Instagram</h2>
    <span>OfficialInstagram</span>
    <%= render '/shared/instaapi' %>
</div>
