<<<<<<< HEAD
<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">




<%= render 'schedules/schedule' %>
=======
<% @title = "" %>
<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="container">
    </div>
</div>
<div class="container-fuild news">
    <div class="box_title">
        <h3>
            お知らせ
            <span>NEWS</span>
        </h3></div>
    <div class="box_srcollbar">
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
        <p>練習追加のご連絡</p>
    </div>
</div>
<div class="container-fuild">
    <div class="container-fuild topNav  ">
        <div class="row catalogue">
            <div class="col-xs-12 col-lg-4 containt-items">
                <%= image_tag 'aueluname.png', width: "200px"%>
                <h3>チーム概要<span>ABOUT</span></h3>
                <p>aaaaaaaaa</p>
                <%= link_to "", introduction_path %>
            </div>
            <div class="col-xs-12 col-lg-4 containt-items">
                 <%= image_tag 'aueluname.png', width: "200px"%>
                <h3>試合結果<span>RESULT</span></h3>
                <p>bbbbbbbbb</p>
                <%= link_to "", result_path %>
            </div>
            <div class="col-xs-12 col-lg-4 containt-items">
                 <%= image_tag 'aueluname.png', width: "200px"%>
                <h3>スケジュール<span>SCHEDULE</span></h3>
                <p>ccccccccc</p>
                <%= link_to "", schedule_path %>
            </div>        
        </div>
    </div>
</div>
>>>>>>> 742a39d0f9b93522e432777772aee22a045842b0
