<% @title = "" %>
<div class="jumbotron jumbotron-fluid jumbotron-home">
    <div class="container">
    </div>
</div>
<div class="container-fuild news">
    <div class="box_title">
        <h3 id="news">
            お知らせ
            <span>NEWS</span>
        </h3></div>
    <div class="box_srcollbar">
        <%= render '/informations/information' %>
    </div>
</div>
<div class="container-fuild">
    <div class="container-fuild topNav  ">
        <div class="row catalogue">
            <div class="col-sm-12 col-lg-4 containt-items">
                <div class="home-items">
                    <%= image_tag 'about.jpg', width: "100%", height: "100%", class: "img_200"%>
                    <h3>チーム概要<span>ABOUT</span></h3>
                    <p>アウエルについてはこちら</p>
                    <%= link_to "", introduction_path %>  
                </div>
                
            </div>
            <div class="col-sm-12 col-lg-4 containt-items">
                <div class="home-items">
                    <%= image_tag 'result.jpg', width: "100%", height: "300px", class: "img_200"%>
                    <h3>試合結果<span>RESULT</span></h3>
                    <p>最新の試合結果をチェック☝</p>
                    <%= link_to "", results_path %>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 containt-items">
                <div class="home-items">
                    <%= image_tag 'schedule.jpg', width: "100%", height: "300px", class: "img_200"%>
                    <h3>スケジュール<span>SCHEDULE</span></h3>
                    <p>今後の予定はこちら</p>
                    <%= link_to "", schedule_path %>
                </div>
            </div>        
        </div>
    </div>
</div>
<div class="container font insta-font">
    <h2>公式Instagram</h2>
    <span>OfficialInstagram</span>
    <%= render '/shared/instaapi' %>
</div>
