<div class = "margine1">
  <dl>
    <dt>日付</dt>
    <dd><%= @gamedata.gamedate %></dd>
    <dt>会場</dt>
    <dd><%= @gamedata.gameplace %></dd>
    <dt>相手</dt>
    <dd><%= @gamedata.gameopponent %></dd>
    <dt>結果</dt>
    <dd><%= @gamedata.gamepoint %></dd>
    <dt>得点</dt>
    <dd><%= @gamedata.gameassistant %></dd>
  </dl>
</diV>