<table class="usersdata">
  <thead>
    <tr>
      <th>写真</th>
      <th>背番号</th>
      <th>名前</th>
      <th>誕生日</th>
      <th>前所属</th>
    </tr>
  </thead>
  <tbody>
    <% @user.all.each do |u| %>
    <tr>
      <td><%= image_tag u.photo.to_s, :width => '150', :height => '96', :alt => '選手写真'%></td>
      <td><%= u.number %></td>
      <td><%= u.name %></td>
      <td><%= d=u.birthday.to_s.gsub('-','/')%></td>
      <td><%= u.belong %></td>
    </tr>
    <% end %>
  </tbody>
</table>