<table class="usersdata">
  <thead>
    <tr>
      <th>写真</th>
      <th>背番号</th>
      <th>名前</th>
      <th>誕生日</th>
      <th>前所属</th>
    </tr>
  </thead>
  <tbody>
    <% @user.all.each do |u| %>
    <tr>
      <th><%= image_tag u.photo , :width => '120', :height => '160' %></th>
      <th><%= u.number %></th>
      <th><%= u.name %></th>
      <th><%= d=u.birthday.to_s.gsub('-','/')%></th>
      <th><%= u.belong %></th>
    </tr>
    <% end %>
  </tbody>
</table>