<table class="gamedatas">
  <thead>
    <tr>
      <th>日付</th>
      <th>日時</th>
      <th>場所</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% Schedule.order("date").each do |s| %>
      <%if s.date >= Date.today %>
        <tr>
          <% d=s.date.to_s.gsub('-','/')  #変更可 2020-8-12->2020/8/12%> 
          <td>
            <% if s.created_at > Date.parse(Schedule.last.created_at.to_s) && Schedule.last.created_at >Date.today-7%>
              <%= image_tag "new.gif", :alt => '新しい投稿マーク'%>
            <% end %>
            <%= d %>
          </td>
          <td><%= s.starthour %> :
          <%= 
          if s.startminute.to_i.zero?
            0.to_s.rjust(2, '0')
          else
            s.startminute
          end %>
          ~
          <%
          unless s.endhour.to_i.zero?
            %>
              <%= s.endhour %> :
            <%= 
              if s.endminute.to_i.zero?
                0.to_s.rjust(2, '0')
              else
                s.endminute
              end %>
              <%
          end
            %>
          </td>
          <td><%= s.gameplace %></td>
          <td><%= s.content %></td>
       </tr>
      <% end %>
    <% end %>
  </tbody>
</table>