<footer>
    <div class="background-footer-up">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-2">
                    <p><%= link_to "ホーム", root_path %></p>
                    <ul>
                        <li><%= link_to "お知らせ", root_path( anchor: "news") %></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <p><%= link_to "チーム概要", introduction_path %></p>
                    <div>
                        <ul>
                            <li><%= link_to "チームアウエルについて", introduction_path( anchor: "about") %></li>
                            <li><%= link_to "チーム情報", introduction_path( anchor: "outline") %></li>
                            <li><%= link_to "ユニフォーム", introduction_path( anchor: "uniform") %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <p><%= link_to "選手紹介", users_path %></p>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <p><%= link_to "試合結果", results_path %></p>
                    <div>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <p><%= link_to "スケジュール", schedule_path %></p>
                    <div>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2">
                    <p><%= link_to "お問い合わせ", contact_path %></p>
                    <div>
                        <ul>
                            <li><%= link_to "メール", contact_path( anchor: "mail") %></li>
                            <li><%= link_to "インスタグラム", contact_path( anchor: "insta") %></li>
                            <li><%= link_to "ツイッター", contact_path( anchor: "twitter") %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-footer-down">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <%= link_to image_tag('aueluname.png', width: 150), root_path, class: "logo-name" %>
                </div>
                <div class="col-4">
                    <%= link_to "https://www.instagram.com/auelu_official", class: 'instagram-font footer-font' do %>
                        <i class="fab fa-instagram fa-fw"></i>
                        Instagram
                    <% end %>
                    <%= link_to "https://twitter.com/AUELU18FUTSAL", class: 'twitter footer-font' do %>
                        <i class="fab fa-twitter fa-fw"></i>
                        twitter
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</footer>