<header class="sticky-top">
    <nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top">
        <a class="navbar-brand" href="#">
            <%= link_to image_tag('auelulogo.gif', width: 65), root_path, class: "logo-img" , :alt => 'チームアウエルのロゴ'%>
            <%= link_to image_tag('aueluname.gif', width: 250), root_path, class: "logo-name" , :alt => 'チームアウエルの名前'%>
        </a>
        <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navmenu"
      aria-controls="navmenu"
      aria-expanded="false"
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-end" id="navmenu">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <%= link_to "ホーム", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "チーム概要", introduction_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "選手紹介", users_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "試合結果", results_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "スケジュール", schedule_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "お問い合わせ", contact_path, class: "btn btn-outline-danger" %>
                </li>
            </ul>
        </div>
    </nav>
    
</header>