<div class="container">
  <div class="row">
    <div class="col-9">
      <table class="gamedatas">
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>対戦相手</th>
      <th>結果</th>
      <th>　　</th>
    </tr>
  </thead>
  <tbody class="gamedatas">
    <% @gamedatas.each do |d| %>
    <tr>
      <th><%=  u=d.gamedate.to_s.gsub('-','/')  %></th>
      <th>
        <div class = 'result'>
          <%= d.gametitle  %>
        </div>
      </th>
      <th><%= d.gameopponent %></th>
      <th><%= d.gamepoint %></th>
      <th><%= link_to "詳細", result_path(d) %></th>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @gamedatas %>
    </div>
      <div class="col-3 log">
        <%= render 'shared/sidebar' %>  
      </div>
  </div>
</div>

  