<% @title = "試合結果" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h2>試合結果<span>RESULT</span></h2>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<table class="gamedatas">
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>対戦相手</th>
      <th>結果</th>
    </tr>
  </thead>
  <tbody class="gamedatas">
    <% @gamedatas.each do |d| %>
    <tr>
      <th><%= d.gamedate %></th>
      <th>
        <div class = 'result'>
          <%= link_to d.gametitle, result_path(d) %>
        </div>
      </th>
      <th><%= d.gameopponent %></th>
      <th><%= d.gamepoint %></th>
    </tr>
    <% end %>
  </tbody>
</table>
  <%= paginate @gamedatas %>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>