<% @title = "試合結果" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h2>試合結果<span>RESULT</span></h2>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class = "resultshow">
  <h2><%= @gamedata.gametitle %></h2>
      <table>
        <tbody>
        <tr>
            <th>
                日付
            </th>
            <td><%= @gamedata.gamedate %></td>
        </tr>
        <tr>
            <th>
                会場
            </th>
            <td><%= @gamedata.gameplace %></td>
        </tr>
        <tr>
            <th>
                対戦相手
            </th>
            <td><%= @gamedata.gameopponent %></td>
        </tr>
        <tr>
            <th>
                結果
            </th>
            <td><%= @gamedata.gamepoint %></td>
        </tr>
        <tr>
            <th>
                得点
            </th>
            <td><%= @gamedata.gameassistant %></td>
        </tr>
        </tbody>
    </table>
    <diV class="return">
      <%= link_to "戻る", :back %>
    </diV>
</diV>
