<table>
    <thead>
        <tr>
            <th>更新日</th>
            <th>内容</th>
        </tr>
    </thead>
    <% Information.last(6).reverse.each do |i| %>
    <tbody>
        <tr>
            <th><%= d=i.date.to_s.gsub('-','/')  %></th>
            <th>
                <% if i.newcontent == "試合結果を更新しました" %>
                <%= link_to i.newcontent, results_path  %>
                <% elsif i.newcontent == "予定を更新しました" %>
                <%= link_to i.newcontent, schedule_path  %>
                <% elsif i.newcontent == "選手情報を更新しました" %>
                <%= link_to i.newcontent, users_path  %>
                <% else %>
                <%= i.newcontent %>
                <% end %>
                </th>
        </tr>
    </tbody>
    <% end %>
</table>


